* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
p{
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px; padding-right: 30px;
}

a{
  text-decoration: none;
}

.page_image_home{
  background-image: url('../image/hari.jpg');
  color: white;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 background-repeat: no-repeat;
 background-position: center;
 
 height: 600px;
 width: 100%;
}

.page_image_contact{
  background-image: url('../image/sachit2.jpg');
  color: white;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 background-repeat: no-repeat;
 background-position: center;
 
 height: 600px;
 width: 100%;
}

.page_image_portfolio{
  background-image: url('../image/galaxy.jpg');
  color: white;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 background-repeat: no-repeat;
 background-position: center;
 
 height: 650px;
 width: 100%;
}
.page_image_sitereport{
  background-image: url('../image/galaxy1.jpg');
  color: white;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 background-repeat: no-repeat;
 background-position: center;
 
 height: 600px;
 width: 100%;
}

.page_image_CV{
  background-image: url('../image/sachit4.jpg');
  color: white;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 background-repeat: no-repeat;
 background-position: center;
 
 height: 700px;
 width: 100%;
}





.homepage_image{
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.50.7))
}

.contactpage_image{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.50.7))
}

.portfoliopage_image{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7))
}

.overlay_text{
  transform: translate(10%, 230%);
}
.sliders {
  animation: motion 8s infinite;
  
  animation-delay: 3s;
  position: relative;
  }

@keyframes motion {
  from {left: -130px;}
  to {left: 10px;}
}

.heading_design_1 {
  background: rgb(82, 55, 85);
  border-radius: 3;
    padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  
}
.home-contents{
  border-radius: 8px;
  background-color: #d5b2e0;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 100px;
  width: 90%;
  height:500px;
  padding: 40px;
}

.thubnail_style
{
  text-align: center;
  padding-left:5px;
  
}


/*--------------------------------------------------------------------- Contact Form Design starts from here-------------------------------------------------- */


contact_btn{
 background-color: #0b0a0f;
padding: 12px 26px;
font-style: 14px;
font-weight:500 ;
border:1px solid transparent;
text-transform: capitalize;

}
.contact_btn a:hover{
    background: linear-gradient(to bottom, #0d0c18 0%, #1d0e20 100%);

}


.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-info{
    float: left;
    max-width: 50%;
    line-height: 65px;
    padding-left:10px;
    font-size: 18px;
}
.contact-form{
    max-width: 00px;
    margin-right: 50px;
}
.content-info, .contact-form{
    flex:1;

}
.contact-form h2{
    color:#fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.contact-form .textbox{
    background:#000;
    color:#fff;
    border:none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;

}
.contact-form .textbox:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: #000;
    color:#fff;
    border: none;
    width:100% ;
    padding: 12px;
    font-size:15px ;
    min-height:200px ;
    max-height:400px ;
    resize:vertical ;
    border-radius:5px ;
    box-shadow:0 1px 1px rgba(0,0,0, 0.1) ;
    margin-bottom:20px ;
    opacity:0.9 ;
}
.contact-form .send-btn{
    float: right;
    background:#2ee389 ;
    color: #fff;
    border:none ;
    width:119px ;
    letter-spacing:2px ;
    border-radius:5px ;
    height:42px ;
    font-size:15px ;
    font-weight:600 ;
    text-transform:uppercase ;
    cursor: pointer;
    transition:0.3s ;
    transition-property:background;
}
.contact-form .send-btn :hover{
    background: #15ce81;
}


  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 108px 8px 8px;
    box-sizing: border-box;
  }


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 }

 input[type=email] select{
  width: 100%;
  float:right;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 15px 25px;
  margin: 10px;;
  border-radius: 4px;
  background-color: rgb(82, 55, 85);
  border: none;
}

input[type=submit]:hover {
  background-color: rgb(82, 55, 85);
}

.formArea_div {
  border-radius: 6px;
  margin: 30px 15px 20px 25px;
  
  background-color: #d1cddf;
  padding: 20px;
}
.Contact_info{
    border-radius: 6px;
    background-color: #d1cddf;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    padding: 20px;
  }

  .iframe_contact{
    height: 500px;
    width:100%;
    margin-right:50px
  }

  

/*------------------------------------------------------------------------------------------- navigation bar -------------------------------------------------------------------------------------*/


.for_navigation{
  position:relative;
  width:100.5%;
  display:flex;
  background:rgb(82, 55, 85); 
  margin-top: -5px;
  justify-content: space-between;
  align-items: center;
  transition:0.4s
}

.navi-des{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MyName {
  margin: .5rem;
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
}

.list_hamm{
  display:flex;
  align-items: center;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s;
}


.list_hamm li{
  list-style-type: none;

}

.list_hamm li a{
  color: #fff;
  text-decoration: none;
  display:block;
  font-size: 15px;
  line-height: 2;
  padding-left:42px;
  padding-right: 42px;
  transition:0.3s;
}

.list_hamm li a:hover {
  background-color: rgb(172, 152, 180);
}

.icon_ham{
  position:relative;
  width:29px;
  height: 4px;
  border-radius: 10px;
  z-index: 4;
  transition:0.4s;
  background:#fff;
  cursor: pointer;
  
}

.icon_ham:before,
.icon_ham:after {
  content:"";
  position:absolute;
  height: 4px;
  background: #fff;
  border-bottom: 10px;
  transition: 0.4s;

}

.icon_ham:before{
  width: 20px;
  top: -10px;
  }

.icon_ham:after{
  width: 25px;
  top: 10px;
}

.hamm_menuu {
  position:absolute;
  height:100%;
  width: 32px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.icon_ham,
.hamm_menuu{
  display: none;
}

.navi-des input:checked ~ .icon_ham{
  background: transparent;
}

.navi-des input:checked ~ .icon_ham:before{
  top:0;
  transform: rotate(-45deg);
}
.navi-des input:checked ~ .icon_ham:after{
  
  width:30px;
  top:0;
  transform: rotate(45deg);
  
}

.navi-des input:checked ~ .list_hamm{
      right: 0;
}

@media screen and (max-width: 994px){
  .icon_ham,
  .hamm_menuu{
      display: block;
  }
  .for_navigation{
      padding: 12px 22px;
  }
  .list_hamm{
      flex-direction: column;
      position: fixed;
      justify-content: start;
      align-items:center;
      top: 0;
      padding-top: 67px;
      width: 250px;
      right: -300px;;
      background:rgb(82, 55, 85); 
      height: 100%;
      
  }
  .list_hamm li{
      width:100%
  }
  .list_hamm li a,
  .list_hamm li a :hover{
      padding:29px;
      font-size: 23px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
}





h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  
  .prtf_main {
    margin: auto;
    max-width: 1200px;
    }
  
  
  
  .prtf_row {
    margin: 10px -15px;
    float:left;
    
     }
  
  
  .prtf_row,
  .prtf_row > .prtf_col {
    padding: 10px;
  }
  
  
  .prtf_col {
    float: left;
    width: 25%;
  }
  
  
  .prtf_row:after {
       clear: both;
       display: table;
  }
  

  .prtf_cont {
    background-color: white;
    padding: 10px;
  }
  
  
  @media screen and (max-width: 900px) {
    .prtf_col {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .prtf_col {
      width: 100%;
    }
  }
  
 /* --------------------------------------------------------------------------CV Design starts from here------------------------------------------------------------------------------- */
 
.cv_column {
    float: left;
    height: auto;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 10px;

    margin-left: 10px;
    width: 45%;
    border-width: 2px;
    border-color: purple;
    border-radius: 5%;
    background-color: rgb(241, 223, 243);
  }
  
  
  .cv_row:after {
    content: "";
    clear: both;
    display: table;
    padding:15px;
   
  }
  .all_CV{
    margin-left:300px;
    margin-right: 300px;
  }

  

  
    /*--------------------------------------------------------------------------- hover animation----------------------------------------------------------------------------------*/
    .prtf_col {
      padding: 50px;
      transition: transform .2s;
      margin: 0 auto;
    }
    
    .prtf_col:hover {
         transform: scale(1.1); 
    }
 