

* {
  box-sizing: border-box;
}


.column {
  float: left;
  height: 90px; 
  padding: 9px;
  margin-top: 5px;
  width: 50%;
  border-radius: 2%;
}


.row:after {
  content: "";
  clear: both;
  display: table;
 
}